{% extends './index.html' %}
  
{% block content %}  
  
    <h1>{{ object.first_name }} 
        {{object.last_name}}</h1>  
  
    <p>{{ object.email id }}</p>  
    <p>{{ object.enter password }}</p>  
    <p>{{ object.confirm password }}</p> 
    <td>
        <button>
            <a href = '/{{object.pk}}/delete' > Delete  
    </a>
        </button></td>  
  
    <td>
        <button>
            <a href = '/{{object.pk}}/update'> Update  
  </a>
</button></td>  
{% endblock content %}
